/*
 * Out Icon
 */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'icon';
    src: url('fonts/icon.eot');
    src: url('fonts/icon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icon.svg#icon') format('svg'),
        url('fonts/icon.woff') format('woff'),
        url('fonts/icon.ttf') format('truetype');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin: .25em 0 0 .25em;
    font-style: normal;
    font-family: 'icon';
    speak: none;
}

.icon-out:before {
    content: "\21";
}

/*
 * Best available ampersand
 */
.amp {
  font-family: Garamond, Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-size: 125%;
}

/*
 * Reset {
 * ------------
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  /* text-rendering: optimizeLegibility; */
;
  border-top: 5px solid #41B7D8;
}

body {
  margin: 0;
}

a, 
a:visited {
  color: #08C;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

ol, ul {
  list-style: none; 
}

strong {
  font-weight: bold;
  font-family: "proxima-nova-soft", "Helvetica Nueue", Arial, sans-serif;
}

blockquote {
  margin: 1em 15px;
  padding: 10px 15px 20px 10px;
  border-left: 5px solid tomato;
  background: #F1F1F1;
}

table {
	border-spacing: 0;
  border-collapse: collapse; 
}

p { 
  margin: 0 0 1em; 
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

textarea {
  width: 97%;
}

hr {
  border-top: 1px dotted #a9a9a9;
}

.ir {
  display: block; 
  overflow: hidden; 
  border: 0; 
  background-color: transparent; 
  background-repeat: no-repeat; 
  text-align: left; 
  text-indent: -999em; 
  direction: ltr; 
  *line-height: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

.codeBlock {
  display: block;
  margin: 1em 0;
  padding: 20px;
  background: #232323;
  color: ghostwhite;
  text-shadow: 0px 0px 0px #232323;
}

.gist {
  margin: 1em 0;
  font-size: .85em;
}

/*
 * }}
 * Regular styles
 */

  body {
    background: #ececec url(../images/cross_bg1.png) 0 0 repeat fixed;
    color: #444;
    font: normal normal 1.5em/1.75em "abril-text", Georgia, "Times New Roman", serif;
    font-variant-ligatures: common-ligatures additionalligatures;
    -webkit-font-feature-settings: "liga", "dlig"; 
       -moz-font-feature-settings: "liga=1, dlig=1"; 
        -ms-font-feature-settings: "liga", "dlig"; 
         -o-font-feature-settings: "liga", "dlig"; 
            font-feature-settings: "liga", "dlig";
  }

    .container {
      margin: 0 auto;
      max-width: 1140px;
      width: 88%;
    }

      header {
        z-index: -10;
        float: left;
        overflow: hidden;
        margin: 0 5% 0 0;
        padding: 20px 0 0 0;
        min-height: 100%;
        width: 20%;
      }

        .logo {
          margin: 0.5em auto;
          width: 200px;
          height: 200px;
          -webkit-border-radius: 100px;
           -moz-border-radius: 100px;
                border-radius: 100px;
          background: #f66 url(../images/logo.png) no-repeat 20px 50px;
          background-clip: padding-box; 

          -webkit-transition: all 0.3s linear; 
             -moz-transition: all 0.3s linear; 
              -ms-transition: all 0.3s linear; 
               -o-transition: all 0.3s linear; 
                  transition: all 0.3s linear;
          -webkit-animation: logo 15s infinite; /* Saf5, Chrome */
             -moz-animation: logo 15s infinite; /* FF5+ */
              -ms-animation: logo 15s infinite; /* IE10 */
                       zoom: 1;
          -moz-background-clip: padding; 
          -webkit-background-clip: padding-box;
                     filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
                             M11=0.9986295347545738, M12=0.05233595624294383, M21=-0.05233595624294383, M22=0.9986295347545738, sizingMethod='auto expand');
        }

        nav {
          margin-left: 1em;
          text-align: left;
        }

          nav .nav {
            padding: 0;
            font-size: 1.5em;
            line-height: 1.5em;
          }

            .nav li {
              margin: 0 0 1em;
              border-bottom: 1px solid #ccc;
            }

              .nav a {
                color: #666;
                text-decoration: none;
                -webkit-transition: all 0.3s linear; 
                   -moz-transition: all 0.3s linear; 
                    -ms-transition: all 0.3s linear; 
                     -o-transition: all 0.3s linear; 
                        transition: all 0.3s linear;
              }

              .nav a:hover {
                color: black;
              }

      .main {
        z-index: 10;
        float: right;
        overflow: hidden;
        margin: 0;
        padding: 20px 0 0 0;
        width: 75%;
      }

        .jumbotron {
          font-size: 1.5em;
          line-height: 1.25em;
        }

          .jumbotron .headline {
            margin: 0 0 32px 0;
            font-size: 5em;
            line-height: 1.25em;
          }

            .jumbotron .headline span {
              position: relative;
              display: inline-block;
              color: #fc6;
              letter-spacing: -1px;
            }

            .jumbotron .headline .char2, 
            .jumbotron .headline .char4, 
            .jumbotron .headline .char6 {
              margin: -8px;
              color: #FFD685;
              -webkit-transform: rotate(2deg);
            }

            .jumbotron .headline .char3 {
              top: 25px; 
              -webkit-transform: rotate(-10deg);
            } 

        .sub {
          margin: 1em auto 3em;
          border: 1px solid #d9d9d9;
          -webkit-border-radius: 5px;
                  border-radius: 5px;
          background: #f8f8f8; 
                  background-clip: padding-box;
             -moz-background-clip: padding; 
          -webkit-background-clip: padding-box;
        }

          .sub p {
            font-family: "proxima-nova-soft", "Helvetica Nueue", Arial, sans-serif;
            color: #8f8d80;
          }

          .sub ul {
            list-style: disc;
            margin: 1em 0;
          }

          .sub ol {
            list-style-type: decimal;
            margin: 1em 0;
          }

            .sub li {
              font-family: "proxima-nova-soft", "Helvetica Nueue", Arial, sans-serif;
            }

            .prettyprint li {
              font-family: monospace;
            }

          .inside {
            padding: 0 2em 2.5em;
            border: 1px solid white;
            
            -webkit-border-radius: 5px;
                    border-radius: 5px;

 
            -webkit-background-clip: padding-box; background-clip: padding-box;
          }

            .headline {
              margin: .67em 0;
              color: #212121;
              font-size: 2em;
              line-height: 1.5em;
            }

            .gallery {
              zoom: 1;
            }

              .gallery:before,
              .gallery:after {
                display: table;
                content: " ";
              }

              .gallery .row {
                margin-left: -3%;
              }

            .gallery .work {
              float: left;
              margin: 5px 0 5px 3%;
              width: 29%;
              height: auto;
              border: 3px solid rgba(0, 0, 0, 0.3);
              background: dimGrey url(../images/Cross_bg.png) 0 0 repeat;
              -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
              -webkit-transition: all 1s ease-out; 
                 -moz-transition: all 1s ease-out; 
                   -o-transition: all 1s ease-out; 
                      transition: all 1s ease-out; 
            }

              .gallery .work a img {
                width: 100%;
                -webkit-filter: grayscale(100%);
                -webkit-transition: all 1s ease-out; 
                   -moz-transition: all 1s ease-out; 
                     -o-transition: all 1s ease-out; 
                        transition: all 1s ease-out; 
              }

                .gallery .work a:hover img {
                  -webkit-filter: grayscale(0%);
                }

              .gallery .work:hover {
                border: 3px solid tomato;
                -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
                        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
              }

              .gallery:after {
                clear: both;
              }

            .columns {
               -webkit-column-count: 2;
                  -moz-column-count: 2;
                       column-count: 2;  

              -webkit-column-gap: 20px;    
                 -moz-column-gap: 20px;          
                      column-gap: 20px;
            }

            .vcard.photo {
              float: left;
              margin: 0 85px 0 25px;
            }

            .url {
              display: block;
              margin: 1em 0;
            }

            .adr p {
              margin: 0;
            }

            .bd {
              overflow:hidden; 
              zoom:1;
              _overflow:visible;
            }

            .bd ul {
              padding: 0;
            }

            .ss-paragraph-text label {
              display: block;
            }

            .blogImg {
              display: block;
              margin: 1em auto;
              max-width: 95%;
              -webkit-box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
                      box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.5);
            }


            .permalink {
              padding: 1em 0;
              border-top: 1px dotted #a9a9a9;
              text-align: right;
              font-size: .75em;
            }

            .back-to-blog {
              padding: 1em 0;
              border-top: 1px dotted #a9a9a9;
              text-align: left;
              font-size: .75em;
            }

            #dsq-footer {
              font-size: .5em;
            }
            
      .ss-form-entry input,
      .ss-form-entry textarea {
          font-family: "proxima-nova-soft", "Helvetica Nueue", Arial, sans-serif;
          border: 1px solid #ccc;
          font-size: 1.2em;
          padding: 5px 10px;

          -webkit-border-radius: 5px;
                  border-radius: 5px;

          -webkit-background-clip: padding-box; background-clip: padding-box;

      }

          
          .ss-form-entry input:focus,
          .ss-form-entry textarea:focus {
              border-color: rgba(82, 168, 236, 0.8);
              outline: 0;
              outline: thin dotted 9;
              -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
                 -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
                     box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

          }

      .ss-form-entry input[type="submit"] {
          font-size: 1.2em;
          border: 1px solid #12909B;
          border-radius: 5px;
          padding: 10px 15px;
          color: white;
          cursor: pointer;
          

          background-color: #14B9C7;
          
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #14B9C7), color-stop(100%, #0B97A3));
          background-image: -webkit-linear-gradient(top, #14B9C7 0%, #0B97A3 100%);
          background-image: -moz-linear-gradient(top, #14B9C7 0%, #0B97A3 100%);
          background-image: -o-linear-gradient(top, #14B9C7 0%, #0B97A3 100%);
          background-image: linear-gradient(to bottom, top, #14B9C7 0%, #0B97A3 100%);

      }
      
          .ss-form-entry input[type="submit"]:hover {
               background-color: #0B8994;
               
               background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0B97A3), color-stop(100%, #14B9C7));
               background-image: -webkit-linear-gradient(top, #0B97A3 0%, #14B9C7 100%);
               background-image: -moz-linear-gradient(top, #0B97A3 0%, #14B9C7 100%);
               background-image: -o-linear-gradient(top, #0B97A3 0%, #14B9C7 100%);
               background-image: linear-gradient(to bottom, top, #0B97A3 0%, #14B9C7 100%);
          }
          
          .ss-form-entry input[type="submit"]:active {
                background-color: #F66;
                border: 1px solid #bd4c4c;
               
               background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F66), color-stop(100%, #BD4C4C));
               
                background-image: -webkit-linear-gradient(top, #F66 0%, #BD4C4C 100%);
               background-image: -moz-linear-gradient(top, #F66 0%, #BD4C4C 100%);
               background-image: -o-linear-gradient(top, #F66 0%, #BD4C4C 100%);
               background-image: linear-gradient(to bottom, top, #F66 0%, #BD4C4C 100%);

          }


      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3em;
        background: #5D5D5D;
        background: rgba(0, 0, 0, 0.3);
        color: white;
        text-shadow: 0 0 0 #000;
        font-size: 0.5em;
      }



/*
 * Animations
 */
@-webkit-keyframes logo {
  50%   { background-color: #0BBCCB; }
  100%   { background-color: #f66; }
}
@-moz-keyframes logo {
  50%   { background-color: #0BBCCB; }
  100%   { background-color: #f66; }
}
@-ms-keyframes logo {
  50%   { background-color: #0BBCCB; }
  100%   { background-color: #f66; }
}

@media only screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    padding: 0 2%;
    width: 95%;
  }

    header {
      float: none;
      margin: 0 0 -128px 0;
      padding: 1% 0 0 0;
      width: 100%;
    }

      .logo-link {
        display: block;
        float: left;
        width: 25%;
      }

      nav {
        float: left;
        margin: 2em 0 0 0;
        width: 75%;
        border-bottom: 1px solid #ccc;
      }

        nav .nav {
          text-align: center;
          font-size: 1em;
          margin-left`: -1%;
        }

          .nav li {
            float: left;
            margin-left: 1%;
            width: 19%;
            border-bottom: 0;
          }

    .main {
      width: 75%;
    }

      .jumbotron .headline {
        font-size: 4em;
      }

      .inside {
        padding: 0 3% 20px;
      }

        .gallery .row {
          margin-left: -3%;
        }

      .gallery .work {
        margin: 5px 0 5px 3%;
        width: 30%;
        height: 30%;
        border: 0;
        -webkit-box-shadow: 0;
                box-shadow: 0;
      }

        .gallery .work:hover {
          border: 0;
        }

          .gallery .work a img {
            -webkit-filter: grayscale(0%);
          }

      .vcard.photo {
        float: left;
        margin: 0 25px 0 25px;
      }


}

@media only screen and (max-width: 768px) {
    header {
      margin: 0 0 -48px 0;
    }

    .logo {
      max-width: 140px;
      width: 100%;
      height: 140px;
      background: #f66 url(../images/logo.png) no-repeat 13px 37px;
      background-size: 120px;
    }

    nav .nav {
      text-align: center;
      font-size: .85em;
      margin-left`: -1%;
    }

  .main {
    float: none;
    margin: 0 auto;
    width: 95%;
  }

}

@media only screen and (max-width: 480px) {
  body {
    font: normal normal 1em/1.5em "abril-text", Georgia, "Times New Roman", serif;
  }
    .container {
      margin: 0 auto;
      padding: 0 2%;
      width: 95%;
    }

      header {
        position: static;
        float: none;
        margin: 0 0 -32px 0;
        padding: 5px 0 0 0;
        width: 100%;
      }

        .logo-link {
          float: none;
          width: 100%;
        }

          .logo {
            margin: 1em auto;
            max-width: 200px;
            width: 200px;
            height: 200px;
            background: #f66 url(../images/logo.png) no-repeat 20px 50px;
            background-size: 173px;
          }

        nav {
          float: none;
          width: 100%;
          border-bottom: 0;
          text-align: center;
        }

          nav .nav {
            margin: 0;
            padding: 0;
            font-size: 1.4em;
          }

            .nav li { 
              float: none;
              margin-left: 0;
              width: 100%;
              border-bottom: 1px solid rgb(204, 204, 204);
            }

              .nav li a {
                padding: 2%;
              }

        .main {
          float: none;
          margin: 0;
          padding: 20px 0 0 0;
          width: 100%;
        }

          .jumbotron .headline {
            font-size: 3em;
          }

          .inside {
            padding: 0 20px 20px;
          }

            .gallery .row {
              margin: 0;
            }

              .gallery .work {
                float: none;
                margin: 1em auto;
                width: 200px;
                height: 200px;
                background: dimGrey url(../images/Cross_bg.png) 0 0 repeat;
                -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
              }

              .columns {
                -webkit-column-count: 1;
                   -moz-column-count: 1;
                        column-count: 1;  -webkit-column-gap: 0px;     -moz-column-gap: 0px;          column-gap: 0px;
              }

              .vcard.photo {
                display: block;
                float: none;
                margin: 0 auto;
              }

}

/*
 * Pretty print
 */
.pln{color:#000}@media screen{.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun,.opn,.clo{color:#660}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec,.var{color:#606}.fun{color:red}}@media print,projection{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun,.opn,.clo{color:#440}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:decimal}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}

pre.prettyprint {
  color: #839496;
  background-color: #002b36;
  text-shadow: none;
  overflow-x: auto;
  padding: 1em;
  line-height: 1.25em;
}

.prettyprint .pln {
  color: inherit;
}

.prettyprint .str,
.prettyprint .lit,
.prettyprint .atv {
  color: #2aa198;
}

.prettyprint .kwd {
  color: #268bd2;
}

.prettyprint .com,
.prettyprint .dec {
  color: #586e75;
  font-style: italic;
}

.prettyprint .typ {
  color: #b58900;
}

.prettyprint .pun {
  color: inherit;
}

.prettyprint .opn {
  color: inherit;
}

.prettyprint .clo {
  color: inherit;
}

.prettyprint .tag {
  color: #268bd2;
  font-weight: bold;
}

.prettyprint .atn {
  color: inherit;
}

/* jekyll syntax */

.highlight { 
  padding: 0 0.5em;
  margin: 20px 0 20px 0;
  background: #002B36;
  overflow-y: hidden;
  overflow-x: auto;
  color: #839496;
  font-size: 0.8em;
  line-height: 2em;
}

.highlight pre { margin: 0; }

.mono, pre, code, tt, p code, li code {
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace;
  text-shadow: none;
}

p code,
li code {
    display: inline-block;
    line-height: 1.5em;
    border: 1px solid #DDD;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    padding: 2px 7px;
    background: white;
    font-size: 0.8em;
    color: #555;
       -moz-background-clip: padding; 
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
}

p .highlight code,
li .highlight code {
    display: inline;
    line-height: 2em;
    border: none;
    -webkit-border-radius: 0;
            border-radius: 0;
    padding: 0;
    background: #002b36;
    font-size: 1em;
    color: #93A1A1;
       -moz-background-clip: none;
    -webkit-background-clip: none;
            background-clip: none;
}



.highlight .lineno {
    display: inline-block;
    background: #0b3944;
    padding: 0 10px;
    color: #34555e;
    margin-left: -0.54em;
}

.highlist .line-numbers span { color: #586E75; }
.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #93A1A1 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #586E75 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #586E75 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #2AA198 } /* Literal.Number */
.highlight .s { color: #2AA198 } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #555 } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
