/*
 * Out Icon
 */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icon';
	src: url('fonts/icon.eot');
	src: url('fonts/icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icon.svg#icon') format('svg'),
		url('fonts/icon.woff') format('woff'),
		url('fonts/icon.ttf') format('truetype');
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  margin: .25em 0 0 .25em;
	font-style: normal;
	font-family: 'icon';
	speak: none;
}

.icon-out:before {
	content: "\21";
}

/*
 * Reset {
 * ------------
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

ol, ul {
  list-style: none; 
}

strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 15px;
  padding: 10px 15px 20px 10px;
  border-left: 5px solid tomato;
  background: #F1F1F1;
}

table {
	border-spacing: 0;
  border-collapse: collapse; 
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

h2 {
  margin: 0.83em 0;
  font-size: 1.5em;
}

h3 {
    margin: 1em 0;
    font-size: 1.17em;
}

h4 {
    margin: 1.33em 0;
    font-size: 1em;
}

h5 {
    margin: 1.67em 0;
    font-size: 0.83em;
}

h6 {
    margin: 2.33em 0;
    font-size: 0.75em;
}

p { 
  margin: 0 0 1em; 
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

textarea {
  max-width: 100%;
}

hr {
  border-top: 1px dotted #a9a9a9;
}

.ir {
  display: block; 
  overflow: hidden; 
  border: 0; 
  background-color: transparent; 
  background-repeat: no-repeat; 
  text-align: left; 
  text-indent: -999em; 
  direction: ltr; 
  *line-height: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}

.codeBlock {
  display: block;
  margin: 1em 0;
  padding: 20px;
  background: #232323;
  color: ghostwhite;
  text-shadow: 0px 0px 0px #232323;
}

.gist {
  margin: 1em 0;
  font-size: .85em;
}

/*
 * }}
 * Regular styles
 */
  body {
    background: #ececec url(../images/cross_bg1.png) 0 0 repeat fixed;
    /* background: #f8f8f8 url(../images/bg_combo.jpg) top left repeat fixed; */
    color: #444;
    text-shadow: 0px 1px 0px #fff;
    font: normal normal 1.4em/1.3em "minion-pro", Georgia, "Times New Roman", serif;
    /* *background: url(../images/Cross_bg.png) top left repeat fixed, 
     *url(../images/bg.jpg) top left repeat fixed #f8f8f8; */
  }

    .container {
      margin: 0 auto;
      padding: 0 10px;
      width: 960px;
    }

      header {
        z-index: -10;
        float: left;
        overflow: hidden;
        padding: 20px 0 0 0;
        min-height: 100%;
        width: 200px;
      }

        .logo {
          margin: 1em auto;
          width: 200px;
          height: 200px;
          -webkit-border-radius: 100px;
           -moz-border-radius: 100px;
                border-radius: 100px;
          background: #EC0647 url(../images/logo.png) no-repeat 20px 50px;
          background-clip: padding-box; 
          -webkit-box-shadow: inset 0 0 8px 8px rgba(0, 0, 0, 0.1);
             -moz-box-shadow: inset 0 0 8px 8px rgba(0, 0, 0, 0.1);
                  box-shadow: inset 0 0 8px 8px rgba(0, 0, 0, 0.1);
          -webkit-transition: all 0.3s linear; 
             -moz-transition: all 0.3s linear; 
              -ms-transition: all 0.3s linear; 
               -o-transition: all 0.3s linear; 
                  transition: all 0.3s linear;
          -webkit-transform: rotate(-3deg); 
             -moz-transform: rotate(-3deg); 
              -ms-transform: rotate(-3deg); 
               -o-transform: rotate(-3deg); 
                  transform: rotate(-3deg);
          -webkit-animation: logo 15s infinite; /* Saf5, Chrome */
             -moz-animation: logo 15s infinite; /* FF5+ */
              -ms-animation: logo 15s infinite; /* IE10 */
                       zoom: 1;
          -moz-background-clip: padding; 
          -webkit-background-clip: padding-box;
                     filter: progid:DXImageTransform.Microsoft.Matrix(/* IE6–IE9 */
                             M11=0.9986295347545738, M12=0.05233595624294383, M21=-0.05233595624294383, M22=0.9986295347545738, sizingMethod='auto expand');
        }

        nav {
          text-align: center;
        }

          nav .nav {
            padding: 0;
            font-size: 1.4em;
          }

            .nav a {
              color: #666;
              text-decoration: none;
              -webkit-transition: all 0.3s linear; 
                 -moz-transition: all 0.3s linear; 
                  -ms-transition: all 0.3s linear; 
                   -o-transition: all 0.3s linear; 
                      transition: all 0.3s linear;
            }

              .nav a:hover {
                color: black;
              }

      .main {
        z-index: 10;
        float: right;
        overflow: hidden;
        margin: 0;
        padding: 20px 0 0 0;
        width: 700px;
      }

        .jumbotron {
          font-size: 1.5em;
        }

        .sub {
          margin: 1em auto 3em;
          border: 1px solid #d9d9d9;
          -webkit-border-radius: 12px;
                  border-radius: 12px;
          background: #f8f8f8; 
                  background-clip: padding-box;
          -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 white;
                  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3), 0 1px 0 white;
             -moz-background-clip: padding; 
          -webkit-background-clip: padding-box;
        }

          .sub ul {
            list-style: disc;
          }

          .inside {
            padding: 0 20px 20px;
          }

            .gallery {
              zoom: 1;
            }

              .gallery:before,
              .gallery:after {
                display: table;
                content: " ";
              }

              .gallery .row {
                margin-left: -20px;
              }

            .gallery .work {
              float: left;
              margin: 5px 0 5px 20px;
              width: 200px;
              height: 200px;
              border: 3px solid rgba(0, 0, 0, 0.3);
              background: dimGrey url(../images/Cross_bg.png) 0 0 repeat;
              -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
            }

              .gallery .work a img {
                -webkit-filter: grayscale(100%);
              }

                .gallery .work a:hover img {
                  -webkit-filter: grayscale(0%);
                }

              .gallery .work:hover {
                border: 3px solid tomato;
              }

              .gallery:after {
                clear: both;
              }

            .columns {
               -webkit-column-count: 2;
                  -moz-column-count: 2;
                       column-count: 2;  

              -webkit-column-gap: 20px;    
                 -moz-column-gap: 20px;          
                      column-gap: 20px;
            }

            .vcard.photo {
              float: left;
              margin: 0 85px 0 25px;
            }

            .url {
              display: block;
              margin: 1em 0;
            }

            .adr p {
              margin: 0;
            }

            .bd {
              overflow:hidden; 
              zoom:1;
              _overflow:visible;
            }

            .bd ul {
              padding: 0;
            }

            .ss-paragraph-text label {
              display: block;
            }

            .blogImg {
              display: block;
              margin: 1em auto;
              padding: 25px;
              max-width: 75%;
              border: 1px solid #e8e8e8;
              -webkit-border-radius: 6px;
                      border-radius: 6px; 
                      background-clip: padding-box;
              -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                      box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
                 -moz-background-clip: padding; 
              -webkit-background-clip: padding-box;
            }


            .permalink {
              padding: 1em 0;
              border-top: 1px dotted #a9a9a9;
              text-align: right;
              font-size: .75em;
            }

            .back-to-blog {
              padding: 1em 0;
              border-top: 1px dotted #a9a9a9;
              text-align: left;
              font-size: .75em;
            }

            #dsq-footer {
              font-size: .5em;
            }

      footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2em;
        background: #5D5D5D;
        background: rgba(0, 0, 0, 0.3);
        color: white;
      }



/*
 * Animations
 */
@-webkit-keyframes logo {
  50%   { background-color: #009F13; }
  100%   { background-color: #EC0647; }
}
@-moz-keyframes logo {
  50%   { background-color: #009F13; }
  100%   { background-color: #EC0647; }
}
@-ms-keyframes logo {
  50%   { background-color: #009F13; }
  100%   { background-color: #EC0647; }
}

@media only screen and (max-width: 820px) {
  .container {
    margin: 0 auto;
    padding: 0 2%;
    width: 95%;
  }

    header {
      padding: 1% 0 0 0;
      width: 20%;
    }

      .logo {
        width: 140px;
        height: 140px;
        background: #EC0647 url(../images/logo.png) no-repeat 13px 37px;
        background-size: 120px;
      }

    .main {
      width: 75%;
    }

      .inside {
        padding: 0 5px 20px;
      }

        .gallery .row {
          margin-left: -3%;
        }

      .gallery .work {
        margin: 5px 3%;
        width: 33%;
        border: 1px solid rgba(0, 0, 0, 0.3);
      }

        .gallery .work:hover {
          border: 1px solid tomato;
        }

      .vcard.photo {
        float: left;
        margin: 0 25px 0 25px;
      }


}
@media only screen and (max-width: 480px) {
  .container {
    margin: 0 auto;
    padding: 0 2%;
    width: 95%;
  }

    header {
      position: static;
      float: none;
      padding: 5px 0 0 0;
      width: 100%;
    }

      .logo {
        margin: 1em auto;
        width: 200px;
        height: 200px;
        background: #EC0647 url(../images/logo.png) no-repeat 20px 50px;
        background-size: 173px;
      }

      nav {
        text-align: center;
      }

        nav .nav {
          padding: 0;
          font-size: 1.4em;
        }

          .nav li a {
            padding: 2%;
          }

      .main {
        float: none;
        margin: 0;
        padding: 20px 0 0 0;
        width: 100%;
      }

        .inside {
          padding: 0 20px 20px;
        }

            .gallery .work {
              display: block;
              margin: 1em auto;
              width: 200px;
              height: 200px;
              float: none;
              background: dimGrey url(../images/Cross_bg.png) 0 0 repeat;
              -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
                      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
            }

            .columns {
              -webkit-column-count: 1;
                 -moz-column-count: 1;
                      column-count: 1;  -webkit-column-gap: 0px;     -moz-column-gap: 0px;          column-gap: 0px;
            }

            .vcard.photo {
              float: none;
              margin: 0;
            }

}
}
