body .container .main .post h2 { line-height: 1.12em; font-size: 725%; }
.logo {
  clear: left;
  background-image: -webkit-radial-gradient(25% 25%, circle farthest-side, #4b2a34 0%, #351822 80%, #230d14 90%);
  background-image:    -moz-radial-gradient(25% 25%, circle farthest-side, #4b2a34 0%, #351822 80%, #230d14 90%);
  background-image:     -ms-radial-gradient(25% 25%, circle farthest-side, #4b2a34 0%, #351822 80%, #230d14 90%);
  background-image:      -o-radial-gradient(25% 25%, circle farthest-side, #4b2a34 0%, #351822 80%, #230d14 90%);
  background:               radial-gradient(25% 25%, circle farthest-side, #4b2a34 0%, #351822 80%, #230d14 90%);
  border-radius: 400px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  color: white;
}

.logo:before {
  content: "";
  position: absolute;
  top: 200px;
  left: 140px;
  height: 40px;
  width: 130px;
  background: white;
  -webkit-transform: rotate(-90deg);
  border-radius: 30px;
}

.logo:after {
  content: "";
  position: absolute;
  top: 223px;
  left: 85px;
  height: 40px;
  width: 145px;
  background: white;
  -webkit-transform: rotate(25deg);
  border-radius: 30px;
}

#bottomLine {
  width: 225px;
  position: absolute;
  top: 75%;
  left: 20%;
  border-radius: 30px;
  height: 10%;
  background: white;
}

#bottomLine:before {
  content: "";
  width: 50px;
  position: absolute;
  top: -64px;
  left: 140px;
  border-radius: 120px;
  height: 24px;
  background: transparent;
  border: 40px solid white;
  clip: rect(30px 130px 130px 65px);
}

#bottomLine:after {
  content: "";
  position: absolute;
  width: 111px;
  height: 40px;
  top: -64px;
  left: 156px;
  background: white;
  border-radius: 30px 73px 0 30px;
}

#vTop {
  width: 180px;
  height: 40px;
  border-radius: 30px;
  position: absolute;
  top: 100px;
  right: 150px;
  -webkit-transform: rotate(50deg);
  background: white;
}

#vTop:after {
  content: "";
  width: 110px;
  height: 40px;
  border-radius: 30px;
  position: absolute;
  top: 105px;
  right: 30px;
  background: white;
}
