/*
Syntax error: Invalid CSS after "...nymous+Pro:700)": expected selector or at-rule, was "@import url(htt..."
        on line 2 of style.scss

1: @import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700)
2: @import url(http://fonts.googleapis.com/css?family=Droid+Sans)
3: 
4: $pink: #ec008c
5: $green: #69bd45
6: $blue: #00aeef
7: $yellow: #DCC175

Backtrace:
style.scss:2
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:898:in `expected'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:841:in `expected'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/scss/parser.rb:27:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/engine.rb:320:in `_to_tree'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/engine.rb:293:in `_render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/engine.rb:240:in `render'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:319:in `update_stylesheet'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:169:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:167:in `each'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:167:in `update_stylesheets'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin/compiler.rb:214:in `watch'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin.rb:111:in `send'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/plugin.rb:111:in `method_missing'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:408:in `watch_or_update'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:294:in `process_result'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/usr/lib/ruby/gems/1.8/gems/sass-3.1.7/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...nymous+Pro:700)\": expected selector or at-rule, was \"@import url(htt...\"\A         on line 2 of style.scss\A \A 1: @import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:700)\A 2: @import url(http://fonts.googleapis.com/css?family=Droid+Sans)\A 3: \A 4: $pink: #ec008c\A 5: $green: #69bd45\A 6: $blue: #00aeef\A 7: $yellow: #DCC175"; }
