/* 
  Based in the unholy union of Eric Myer Reset (http://meyerweb.com/eric/tools/css/reset/), 
  HTML5/Mobile Boilerplate (http://html5boilerplate.com/mobile/, http://html5boilerplate.com)
  & Thierry Koblentz base.css (http://tjkdesign.com/ez-css/css/base.css)
*/
html, body, div, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; } 

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* accessability http://people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

/* Webkit text size 100% allows desktop resize */
html { font-size: 100.01%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* http://developer.yahoo.com/yui/fonts/ */
  font: 13px/1.231 "Helvetica Neue",arial,helvetica,clean,sans-serif
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h1, h2, h3 { margin: 0.5em 0; }

h1, h2, h3, h4, h5, h6, strong, dt { font-weight: bold; }

h1, h2, h3, h4, h5, h6{ letter-spacing: -0.05em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
textarea{ overflow: auto; }

ins { text-decoration: none; }
del { text-decoration: line-through; }

table { border-collapse: collapse; border-spacing: 0; }

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.iem7 input[type="checkbox"] { vertical-align: baseline; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Classic Hot Pink */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 * -AND-
 * https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: bottom; }

/* =================================
 * Begin Custom Styles
 * ==============================
 */

header{ position: fixed; width: 350px; padding: 18px; background: #000; color: #f8f8f8; top: 0; right: 25px; opacity:0.8; filter:alpha(opacity=80);}
